{% extends "base.html" %} {% block title %}Bruselinas{% endblock %} {% block
extra_css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/producto.css') }}"
/>
{% endblock %} {% block content %}

<section class="contenedor">
  <section class="categoria-producto">
    <div class="titulo-productos">
      <a class="tipo-producto boton" href="{{ url_for('producto') }}"
        >Biscochuelos</a
      >
      <a class="tipo-producto boton" href="{{ url_for('tortas') }}">Tortas</a>
      <a class="tipo-producto boton" href="{{ url_for('bruselinas') }}"
        >Bruselinas</a
      >
      <a class="tipo-producto boton" href="{{ url_for('tres_leches') }}"
        >Tres Leches</a
      >
      <a class="tipo-producto boton" href="{{ url_for('merengados') }}"
        >Merengados</a
      >
      <a class="tipo-producto boton" href="{{ url_for('souffles') }}"
        >Souffles</a
      >
      <a class="tipo-producto boton" href="{{ url_for('chesse_cake') }}"
        >Chesse Cake</a
      >
      <a class="tipo-producto boton" href="{{ url_for('especiales') }}"
        >Especiales</a
      >
      <a class="tipo-producto boton" href="{{ url_for('diversos_especiales') }}"
        >Diversos Individuales</a
      >
      <a
        class="tipo-producto boton"
        href="{{ url_for('ocaciones_especiales') }}"
        >Ocaciones Especiales</a
      >
      <a class="tipo-producto boton" href="{{ url_for('cupcake') }}">CupCake</a>
      <a class="tipo-producto boton" href="{{ url_for('pie') }}">Pie</a>
    </div>
  </section>
  <div class="full-header">
    <h1>Nuestros productos</h1>
    <h2>Bruselinas</h2>
  </div>
  <section class="container-biscochuelos">
    <div class="news-cards4" id="news-cards4">
      <div class="items4" id="id-bisco1">
        <img
          class="img-producto4"
          src="{{ url_for('static', filename='img/bisco_huamanguino-fb.jpg') }}"
          alt="biscochuelo huamanguino"
        />
        <h3 class="nombre-producto4">Biscochuelo Huamanguino</h3>
        <a href="{{ url_for('detalle_compra') }}" class="btn-opcion"
          ><b
            ><i class="fa-sharp fa-solid fa-magnifying-glass"></i> Ver
            Tamaños</b
          ></a
        >
        <span class="precio4"><b>Desde &nbsp</b> S/ 1.00</span>
      </div>
      <div class="items4" id="id-bisco2">
        <img
          class="img-producto4"
          src="{{ url_for('static', filename='img/cajita_biscohuelo-fb.jpg') }}"
          alt="caja biscohuelo"
        />
        <h3 class="nombre-producto4" id="id-queque-naranja">
          Caja de Biscochuelos
        </h3>
        <a href="{{ url_for('detalle_compra') }}" class="btn-opcion"
          ><b
            ><i class="fa-sharp fa-solid fa-magnifying-glass"></i> Ver
            Tamaños</b
          ></a
        >
        <span class="precio4"><b>Desde &nbsp</b> S/ 30.00</span>
      </div>
      <div class="items4" id="id-bisco3">
        <img
          class="img-producto4"
          src="{{ url_for('static', filename='img/queque-naranja-fb.jpg') }}"
          alt="queque-naranja"
        />
        <h3 class="nombre-producto4" id="id-queque-naranja">
          Biscochuelo tipo Queque
        </h3>
        <a href="{{ url_for('detalle_compra') }}" class="btn-opcion"
          ><b
            ><i class="fa-sharp fa-solid fa-magnifying-glass"></i> Ver
            Tamaños</b
          ></a
        >
        <span class="precio4"><b>Desde &nbsp</b> S/ 20.00</span>
      </div>
    </div>
  </section>
  <!--redes sociales-->
  <section class="social">
    <p>Siguenos en nuestras redes</p>
    <div class="links">
      <a
        class="redes"
        href="https://www.facebook.com/Banicospan"
        target="_blank"
      >
        <i class="fab fa-square-facebook"></i>
      </a>
      <a
        class="redes"
        href="https://api.whatsapp.com/send?phone=51925394202&amp;text=Hola,%20deseo%20más%20información%20acerca%20de%20sus%20tortas%20🎂🍰"
        target="_blank"
      >
        <i class="fab fa-square-whatsapp"></i>
      </a>
      <a
        class="redes"
        href="https://www.instagram.com/banicospan/"
        target="_blank"
      >
        <i class="fab fa-square-instagram"></i>
      </a>
      <a class="redes" href="#" target="_blank">
        <i class="fab fa-square-twitter"></i>
      </a>
      <a class="redes" href="#" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
  </section>
</section>
{% endblock %} {% block scripts %}
<!--scroll reveal custom js-->
<script src="https://unpkg.com/scrollreveal"></script>
<script src="{{ url_for('static', filename='js/bruselinas.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}" async></script>
<script src="{{ url_for('static', filename='Js/main.js') }}"></script>
<script
  src="https://kit.fontawesome.com/90f45d6330.js"
  crossorigin="anonymous"
></script>
<script
  src="https://kit.fontawesome.com/b68941b8fb.js"
  crossorigin="anonymous"
></script>
{% endblock %}
