*{
    
    margin: 0;
    padding: 0;
}

.carrito-compras{
    border: 1px solid #666;
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: .3s;
}

.carrito-compras .header-carrito{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}
.carrito-compras .carrito-item{
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px;
}
.carrito-compras .carrito-item img{
    margin-right: 20px;

}
.carrito-compras .carrito-item .carrito-item-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.carrito-compras .carrito-item .selector-cantidad{
    display: inline-block;
    margin-right: 25px;
}
.carrito-compras .carrito-item .carrito-items-cantidad{
    border: noe;
    font-size: 18px;
    background: transparent;
    display: inline-block;
    width: 30px;
    padding: 5px;
    text-align: center;
}
.carrito-compras .carrito-item .selector-cantidad i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;

}
