* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
 
}

.producto h1{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 50px;
}
.producto h2{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 50px;
    font-size: 80px;
    color: brown;
}

.news-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
    margin:auto;
}

@media(max-width:700px){
    .menu-btn{
        display: block;
    }
    .nav-main ul.nav-menu{
        display: block;
        position: absolute;
        top: 0;
        left:0;
        background: #2f3640;
        height: 100%;
        padding: 30px;
        opacity: .9;
        transform: translateX(-400px);
        transition: transform .5s ease-in-out;
    }
    .showcase {
        padding: 50px;
    }
    .showcase h2{
        font-size: 50px;
        font-family:inline-block;
    }
    .nav-menu li, a {
        color: #fff;
        
    }
    .nav-menu li, a:hover{
        border-bottom:aquamarine;
    }

    .nav-main ul.nav-menu.show{
        transform: translateX(-20px);
    }
    .nav-main ul.nav-menu li{
        padding: 20px;
        font-size: 14px;

    }

    .nav-main ul.nav-menu-right{
        margin-right: 40px;
    }

    .news-cards{
        grid-template-columns: repeat(2,1fr);
    }
    .cards-banner-one .content,
    .cards-banner-two .content
    {
        width: 80%;
    }
    .footer-links .footer-container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width:500px){
    .news-cards {
        grid-template-columns: 1fr;
    }
    .news-cards img{
        height: 270px;
    }
    .cards-banner-one .content,
    .cards-banner-two .content
    {
        width: 100%;
        padding: 60px 20px;
    }
    .footer-links .footer-container{
        grid-template-columns: 1fr;
    }

    }
/*seccion carrito*/
.carrito-compras{
    border: 1px solid #666;
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: .3s;
}

.carrito-compras .header-carrito{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}
.carrito-compras .carrito-item{
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px;
}
