* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}
body{
    background: #000000;
    color: #000;
    background-color: #fff;
/*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23aca792' fill-opacity='0.16' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");*/
    font-size: 16px;
    
    
}

a{
    color:#000000;
    text-decoration: none;
}

ul{
    list-style: none;
}

.fresco{
    margin-top: 300px;
    margin-left: 0;
}
.fresco h1{
    text-align: center;
    font-family:inline-block;
    margin-top: 50px;
}
.fresco p{
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
}
.fresco1{
    margin-left: 0;
   
}
.fresco1 h1{
    text-align: center;
    font-family:inline-block;
    margin-top: 50px;
}
.fresco1 p{
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
}
.fresco2{
    text-align: center;
    margin-top: 130px;
    margin-bottom: 50px;
}
/* navigation */
.nav-bar{
    display: block;
    color: #000;
    font-size: 20px;
    width: 100%;
    z-index: 1;
    
}
.nav-main{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 10px 0;
    margin-top: 30px;  
    white-space: nowrap;
    
}

.nav-brand {
    width: 100px;
}

.nav-main ul {
    display: flex;
}

.nav-main ul li{
    padding: 10px;

}
.nav-main ul li a{
    padding: 3px;
    
}

.nav-main ul .nav-menu{
    flex: 1;
    margin: 20px;
    
}

.menu-btn{
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 30px;
    z-index: 2;
    font-size: 1.5rem;
    display: none;
}
.nav-main .nav-menu .emcabezado:hover{
    border-bottom: 1px solid red;
    border-top: 1px solid red;
    color: red;
}

/*navegacion derecha*/








/* SHOCASE*/
hr {
    margin: 10px 0;
   
}
/* Slider manual infinito en movimiento vista categorias principales*/
.container-slider{
    width: 90%;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
    position: relative;
    display: inline;
   
}
.slider{
    display: flex;
    width: 500%;
    height: 400px;
    margin-left: -100%;
}
.slider__section{
    width: 100%;
    
}
.slider__img{
    display: block;
    width: 100%;
    height: 140%;
    object-fit: cover;
    margin-bottom: 150px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
.slider__btn{
    position: absolute;
    width: 40px;
    height: 40px;
    background:  #eed29a, 0.7;
    top: 50%;
    transform: translateY(-50%);
    font-size: 80px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 30%;
    cursor: pointer;
}
.slider__btn:hover{
   /* background:#fff;*/
}
.slider__btn--left{
    left: 10px;
}
.slider__btn--right{
    right: 10px;
}

/*slider manual infinito infinito vista las mas pedidas */
.container-slider1{
    width: 90%;
    max-width: 900px;
    overflow: hidden;
    display: inline;
    position: relative;
    margin-top: 50px;
    margin-left: 0;
    margin-bottom: 100px;
    
}

.news-cards2{
    display: flex;
    width: 200%;
    height: 400px;
    margin-left: -100%;
    text-align: center;
}
.items2{
    width: 100%;
    object-fit: cover;
    margin-left: 13px; 
    margin-right: 13px;
    position: relative;
    cursor: pointer;
    text-align: center;
}

.img-producto2{
   width: 354px;
    height: 250px;
    transition: 0.3s;

}

.img-producto2:hover {
    transform: scale(1.05); /* Aumenta el tamaño en un 10% */
  }
  .news-cards2 .items2 .nombre-producto2 {
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
    margin-top: 0;
    padding-top: 20px;
}
.container-slider1 .news-cards2 .items2 .precio2{
    text-align: center;
    
    font-size: 20px;
    
} 
.news-cards2 .items2 .btn-opcion{
    /* Estilos para el enlace "Ver Tamaños" */
    position: absolute;
    bottom: 50px; /* Ajusta la distancia desde la parte inferior */
    left: 0%; /* Centra horizontalmente */
    transform: translateX(-50%);
    transform: translateY(-220%);
    padding: 10px 108px;
    background-color: #eed29a;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    opacity: 0;
    text-transform: uppercase;
    pointer-events: none; /* Evita que se puedan hacer clics */
    transition: opacity 0.3s ease;
    
    white-space: nowrap;
}

.items2:hover .btn-opcion{
    opacity: 1;
    pointer-events: auto;
}
.slider__btn2{
    position: absolute;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    background: #eed29a, 0.2;
    top: 50%;
    transform: translateY(-450%);
    font-size: 70px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 10%;
    cursor: pointer;
}
.slider__btn2:hover{

}
.slider__btn--left2{
    left: 10px;
}
.slider__btn--right2{
    right: 10px;
}

/*los relevantes vista index*/
.container-slider3{
    width: 90%;
    max-width: 900px;
    overflow: hidden;
    display: inline;
    position: relative;
    margin-top: 50px;
    margin-left: 0;
    margin-bottom: 100px;
    
}
.news-cards3{
    display: flex;
    width: 200%;
    height: 400px;
    margin-left: -100%;
   
    text-align: center;
}
.items3{
    width: 100%;
    object-fit: cover;
    margin-left: 13px; 
    margin-right: 13px;
    position: relative;
    cursor: pointer;
    text-align: center;
}
.img-producto3{
    width: 354px;
     height: 250px;
     transition: 0.3s;
 
 }
 
 .img-producto3:hover {
     transform: scale(1.05); /* Aumenta el tamaño en un 10% */
   }

   .news-cards3 .items3 .nombre-producto3 {
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
    margin-top: 0;
    padding-top: 20px;
}
.container-slider3 .news-cards3 .items3 .precio3{
    text-align: center;
    font-size: 20px;

} 
.news-cards3 .items3 .btn-opcion3{
    /* Estilos para el enlace "Ver Tamaños" */
    position: absolute;
    bottom: 50px; /* Ajusta la distancia desde la parte inferior */
    left: 0%; /* Centra horizontalmente */
    transform: translateX(-50%);
    transform: translateY(-220%);
    padding: 10px 108px;
    background-color: #eed29a;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    opacity: 0;
    text-transform: uppercase;
    pointer-events: none; /* Evita que se puedan hacer clics */
    transition: opacity 0.3s ease;
    
    white-space: nowrap;
}

.items3:hover .btn-opcion3{
    opacity: 1;
    pointer-events: auto;
}
.slider__btn3{
    position: absolute;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    background: #eed29a, 0.2;
    top: 50%;
    transform: translateY(-450%);
    font-size: 70px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 10%;
    cursor: pointer;
}
.slider__btn3:hover{

}
.slider__btn--left3{
    left: 10px;
}
.slider__btn--right3{
    right: 10px;
}
/* cajita de biscochuelos y porcion de pastel vista index*/
.container-slider2{
    width: 100%;
    max-width: 900px;
    max-height: 200px;
    overflow: hidden;
    display: inline;
    position: relative;
    margin-top: 50px;  
    margin-bottom: 100px;
       
}
.container-slider2 .cajita{
    display: flex;
    text-align: center;
    margin-left: 110px;
    margin-right: 50px;
}
.container-slider2 .cajita .cajita-tajada{
    display: flex;
    width: 100%;
    max-width: 650px;
    text-align: center;
    cursor: pointer;
    
    
}
.container-personaliza {
    background-image: url('../img/personaliza-pastel.png');
    background-size: cover;
    background-position: center;
    padding: 20px;
    position: relative;
    height: 550px;
}

.image-container {
    display: flex;
   
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
    margin-left: 450px;
    margin-top: 50px;
}

.personaliza-torta {
    text-align: center;
    border: 5px solid #000;
    border-radius: 5px;
    margin-top: 150px;
    margin-left: 10px;
    max-width: 300px;
    height: 150px;
    cursor: pointer;
    margin-bottom: 400px;
    margin: 0 10px;
}

.text-container {
    text-align: center;
    
}
.text-container h1{
    font-size: 60px;
}
.text-container p{
    text-align: center;
    font-size: 40px;
}
.text-container .btn-cotizar{
    font-size: 30px;
    background-color: green;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

/* personaliza tus tortas y tu cajita*/
/*.container-personaliza{
    background-image: url(../img/personaliza-pastel.png);
    width: 100%;
    height: 550px;
    align-items: center;
    justify-content: center;
    display: block;
    background-size: cover;
    background-position: center;
    position: relative;

    
}
.container-personaliza::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(231, 220, 220, 0.514); 
}
.personaliza{
 
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    height: 550px;
    display: flex;
    position: relative;
    z-index: 1;
}
.personaliza-torta{
    margin-top: 150px;
    margin-left: 10px;
    max-width: 300px;
    height: 150px;
    cursor: pointer;
    margin-bottom: 400px;
   
}
.text-personaliza{
    text-align: center;
    display: block;
    margin-top: 20px;
    align-items: center;
  

}
.text-personaliza p{
    text-align: center;
}
*/
.showcase {
    width: 100%;
    height: 550px;
    background: url(../img/fondo2.jpg) no-repeat center center/cover;
    padding:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
    color: #000;
    margin: auto;
}
.btn{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #fff;
    font-size: 15px;
    border: 1px solid #fff;
    margin: 10px 0;
} 

.btn:hover{
    opacity: 0.7;
}
.showcase h2,
.showcase p{
    margin-bottom: 10px;
    color: #fff;
}
.showcase h2{
    font-size: 100px;
    font-family:inline-block;
}
.showcase p{
    margin-bottom: 10px;
    font-size: 30px;
    font-family:inline-block;
}

/*banner productos*/
/*.full-header{

    position: relative;
    vertical-align: middle;
    color: #fff;
    background: brown;
    text-align: center;
    z-index: 20px;
    margin: auto;
    padding: 70px;
    font-size: 50px;
    font-family: inline-block;
    text-transform: uppercase;
    border-radius: 10px;
}

.full-header h1{
    color: #fff;
    font-size: 40px;
    text-transform: capitalize;
    padding-bottom: 30px;
}


/* categorias principales */
.news-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    grid-gap: 20px; /* Espacio entre los elementos */
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 100px;
    padding-bottom: 0;
    justify-content: center;
}

.news-cards .items {
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: all 500ms ease;
    border-radius: 5px;
    box-shadow: 1px 10 15px regba(0,0,0,0,50);
    cursor: pointer;
    
}
.news-cards .items .img-producto{
  
    width: 100%;
    height: 100%;
    transition: all 500ms ease;
  
}
.news-cards .items .img-producto:hover{
    transform: scale(1.1);
    opacity: .5;
}

.nombre-producto1 {
    position: absolute;
    top: 10px; /* Ajusta la posición vertical */
    right: 10px; /* Ajusta la posición horizontal  */
    background-color:transparent;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
}
.mostrar{
    margin-left: 0;
}

/*redes sociales*/
.social{
    margin: 50px;
}
.social p{
    font-size: 40px;
    margin-top: 30px;
    padding: 30px;
    margin-left: 0;
    text-align: center;
    margin-bottom: 50px;
    background-color: #ffe4c4;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
}
.social p:hover{
    color: #E38646;
}
.social .links .redes{
    max-width: 200px;
    margin: auto;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}
.social .links .redes:hover{
    
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
}
.redes{
    font-size: 50px;
}
.links a{
    margin: 0 30px;
    
}


/*pie de pagina*/
.footer h3{
    color:#fff;
    font-size: 15px;
}
.footer .ruc {
    color: #fff;
    font-size: 17px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 15px;
    padding-top: 0;
    
}
.footer-links{
    background: #2f3640;
    color:#fff;
    font-family:Roboto, "san-serif";
    font-size: 12px;
    padding: 35px 0;
    margin: auto;
    box-sizing: border-box;
}
.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .ubicanos {
    list-style-type: none;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    margin: 0;
  }
  .ubicanos a:hover{
    color: #a2dfa5;
  }
   

  
  /* Agrega estilos adicionales según sea necesario */
  
.footer-container ul{
    margin: 0 auto;
}
.footer-container ul li{
    line-height: 2.8;
}

.footer-container a{
    color: #ffffff;
    font-family:inline-block;
    text-transform: capitalize;
    display: block;
    font-size: 15px;    
    padding-left: 10px;
    margin: 0;
}
.footer-container h3{
    color:#fff;
    font-size: 15px;
    text-transform: uppercase; 

     
}

.footer-container .redes-footer{
    display: inline;
    
    align-items: left;
    justify-content: left;
    font-size: 30px; 
}
/* Estilos para el contenedor de imágenes */
.pagos {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    gap: 20px; /* Espacio entre las imágenes */
    padding: 0;
  }
  
  /* Estilos para las imágenes */
  .tipos-pagos {
    padding-top: 10px;
    padding-bottom: 0;
    margin: 0;
    max-width: 80px;
    height: auto;
    cursor: pointer;
  }
  
.footer {
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding-top: 30px;
    text-align: center;
    padding-bottom: 20px;
}

@media(max-width:700px){
    .menu-btn{
        display: block;
    }
    .nav-main ul.nav-menu{
        display: block;
        position: absolute;
        top: 0;
        left:0;
        background: #2f3640;
        height: 100%;
        padding: 30px;
        opacity: .9;
        transform: translateX(-400px);
        transition: transform .5s ease-in-out;
        z-index: 1;
    }
    .showcase {
        padding: 50px;
    }
    .showcase h2{
        font-size: 50px;
        font-family:inline-block;
    }
    .nav-menu li, a {
        color: #fff;
        
    }
    .nav-menu-right{
        color: #fff;
    }
    .nav-menu li, a:hover{
        border-bottom:aquamarine;
    }


    .nav-main ul.nav-menu.show{
        transform: translateX(-20px);
    }
    .nav-main ul.nav-menu li{
        padding: 20px;
        font-size: 14px;

    }

    .nav-main ul.nav-menu-right{
        margin-right: 40px;
    }

    .news-cards{
        grid-template-columns: repeat(2,1fr);
    }
    .cards-banner-one .content,
    .cards-banner-two .content
    {
        width: 80%;
    }
    .footer-links .footer-container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width:500px){
    .news-cards {
        grid-template-columns: 1fr;
    }
    .news-cards img{
        height: 270px;
    }
    .cards-banner-one .content,
    .cards-banner-two .content
    {
        width: 100%;
        padding: 60px 20px;
    }
    .footer-links .footer-container{
        grid-template-columns: 1fr;
    }

    }



/*seccion carrito*/
.carrito-compras{
    border: 1px solid #666;
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: .3s;
    /*estilos para ocultar carrito*/
    margin-right: -100%;
    opacity: 0;
}

.carrito-compras .header-carrito{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}
.carrito-compras .carrito-item{
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px;
}
.carrito-compras .carrito-item img{
    margin-right: 20px;

}
.carrito-compras .carrito-item .carrito-item-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.carrito-compras .carrito-item .selector-cantidad{
    display: inline-block;
    margin-right: 25px;
}
.carrito-compras .carrito-item .carrito-items-cantidad{
    border: noe;
    font-size: 18px;
    background: transparent;
    display: inline-block;
    width: 30px;
    padding: 5px;
    text-align: center;
}
.carrito-compras .carrito-item .selector-cantidad i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;


}
.carrito-compras .carrito-item .carrito-item-precio{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
    
}

.carrito-compras .carrito-item .btn-eliminar{
    position: absolute;
    right: 15px;
    top: 15px;
    color: #000;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}
.carrito-compras .carrito-item .btn-eliminar i{
    pointer-events: none;
}
.carrito-total{
    background-color: rgb(197, 178, 178);
    padding: 30px;
}
.carrito-total .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}
.carrito-total .btn-pagar{
    display: block;
    width: 100%;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: 3s;
}
.carrito-total .btn-pagar:hover{
    scale: 1.05;
}

